/* @font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url(../fonts/OpenSans/OpenSans_Condensed-Medium.ttf) format('ttf');
} */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');